*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background-color: #2e2e2e;
    color: #f7fff7;
    font-family: 'Poppins' ;
    height: 100%;
}

.shadow{
    box-shadow: 0 8px 12px rgba(0,0,0,0,2), 0 5px 6px rgba(0,0,0,0,3);
}
.section{
    padding: 30px;
}
.card-theme{
    background-color: #1a1a1a;
    border: none;
    border-radius: 2px;
}
.card-header-theme{
    color: #eee;
    border-top-right-radius:8px ;
    border-top-left-radius: 8px;
    padding:10px;
}
.card-body-theme{
    background-color: #494F56;
}
.cards{
    display: flex;
    flex-direction: column;
    
}
.section-container{
    padding: 10px;
}
