<div class="sidebar-container">
  <div class="sidebar-logo">
    BI Dashboard
  </div>
  <ul class="sidebar-navigation">

    <li class="header"><i class="fa fa-th-list"></i>Menu</li>
    <li>
      <a routerLink="/sales">
        <i class="fa fa-line-chart " aria-hidden="true"></i>
        Sales Volume
      </a>
    </li>
    <li>
      <a routerLink="/orders">
        <i class="fa fa-shopping-cart " aria-hidden="true"></i>
        Latest Orders
      </a>
    </li>
    <li>
      <a routerLink="/health">
        <i class="fa fa-heartbeat " aria-hidden="true"></i>
 System Health
      </a>
    </li>
  </ul>
</div>
