<div class="sidebar-container">
  <div class="sidebar-logo">
    BI Dashboard
  </div>
  <ul class="sidebar-navigation">

    <li class="header" ><i class="fa fa-th-list"> </i>Menu</li>
    <li >
      <a class="nav link"
       routerLink="/sales"
       routerLinkActive="active-link" >
        <i class="fa fa-line-chart " aria-hidden="true"></i>
        Sales Volume
      </a>
    </li>
    <li>
      <a class="nav link" 
      routerLink="/orders"
      routerLinkActive="active-link">
        <i class="fa fa-shopping-cart " aria-hidden="true"></i>
        Latest Orders
      </a>
    </li>
    <li class="nav-item">
      <a lass="nav link" 
      routerLink="/health"
      routerLinkActive="active-link" >
        <i class="fa fa-heartbeat " aria-hidden="true"></i>
        System Health
      </a>
    </li>
  </ul>
</div>
